@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-fucsia: #E8156B;
    --color-amarillo: #FFE800;
    --color-blanco: #fff;
    --color-negro: #000;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.promocion-encabezado {
    background: var(--color-fucsia);
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.texto-promo {
    color: var(--color-blanco);
    font-size: 16px;
    font-weight: 500;
}

.btn-promocion {
    background: var(--color-amarillo);
    color: var(--color-fucsia);
    border-radius: 8px;
    border: none;
    margin-left: 18px;
    font-size: 12px;
    padding: 4px 8px;
}

.btn-promocion:hover {
    background: var(--color-blanco);
}


/* * Barra navegacion */

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-amarillo);
    padding: 20px 25px;
}

.seccion-1-barra,
.seccion-2-barra {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 77px;
    height: 30px;
    margin-right: 25px;
}

.caja-hamburguesa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja-hamburguesa button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: 2s all;
}

.caja-hamburguesa div {
    font-weight: bold;
    margin-right: 20px;
}

.caja-hamburguesa:hover button,
.ubicaciones:hover .icon-ubicacion {
    background: var(--color-blanco);
    font-size: 1rem;
    border-radius: 50%;
    padding: 8px;
}

.form-busqueda {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .259);
    white-space: nowrap;
    width: 465px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 10px;
    margin-right: 30px;
}

.form-busqueda input {
    border: none;
    height: 100%;
    margin: 0;
    width: 93%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 10px;
}

.form-busqueda button {
    margin: 0;
    height: 100%;
    background: gray;
    color: #fff;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 10px;
    transform: translateX(-5px);
    padding: 10px;
}

.ubicaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in;
}

.ubicaciones i {
    transition: .5s all;
}


/* .ubicaciones:hover button::after {
    content: "Un texto que aparece --";
} */

.ubicaciones button {
    background: transparent;
    border: none;
    font-size: .8rem;
    transition: .5s ease-in;
    padding-left: 20px;
}

.btn-pedido {
    display: none;
    width: 185px;
    text-align: start;
    font-weight: bold;
}

.ubicaciones:hover .btn-pedido {
    display: block;
}

.ubicaciones:hover .btn-compra {
    display: none;
}

.seccion-2-barra section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.seccion-2-barra section i {
    background-color: transparent;
    padding: 10px;
    transition: .5s all;
}

.opt-nav-1:hover i,
.opt-nav-2:hover i {
    background: var(--color-blanco);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.opt-nav-1:hover span,
.opt-nav-2:hover span {
    text-decoration: underline;
}

.navbar-secundaria {
    height: 45px;
    background-color: #CCCCCC;
    margin-bottom: 15px;
}


/** Grilla de categorias*/

.grilla-categorias {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 50px 180px;
}

.grilla-categorias div img {
    width: 100%;
}


/* .grilla-categorias div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.nombre-categoria {
    text-align: center;
    font-weight: bold;
}

.banner-publicidad {
    display: flex;
    justify-content: center;
}


/* * Seccion de promociones especiales */

.seccion-promos-especiales {
    display: grid;
    gap: 15px;
    grid-template-areas: 'promoPeque1 promoGrande promoPeque3' 'promoPeque2 promoGrande promoPeque4';
    padding: 0 120px 50px;
}

.item1 {
    grid-area: promoPeque1;
}

.item2 {
    grid-area: promoPeque2;
}

.item3 {
    grid-area: promoPeque3;
}

.item4 {
    grid-area: promoPeque4;
}

.item5 {
    grid-area: promoGrande;
}

.caja-imagen-promo img {
    width: 100%;
    border-radius: 25px;
}


/* * Footer*/

.seccion1-footer {
    background-color: var(--color-negro);
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios img {
    height: fit-content;
    margin-right: 10px;
}

.texto-beneficio {
    color: var(--color-blanco);
    font-weight: 800;
}

.seccion-2-footer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}

[data-casilla="footer2Casilla1"] {
    padding-top: 30px;
}

[data-casilla="footer2Casilla1"] p {
    margin: 0;
    font-size: .8rem;
}

[data-casilla="footer2Casilla1"] :nth-child(1) {
    font-weight: 600;
}

[data-casilla="footer2Casilla1"] :nth-child(2) {
    margin: 8px 0 20px;
}

[data-casilla="footer2Casilla1"] :nth-child(3) {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    font-weight: bold;
}

.texto-descargar-app,
.texto-siguenos,
.texto-compras {
    font-weight: bold;
    font-size: .8rem;
}

.caja-2-footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea-vertical {
    height: 65px;
    width: 1px;
    background-color: #6e6e6e;
    margin: 0 15px;
}

.palabra-app {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-right: 30px;
}

.img-admiracion {
    height: fit-content;
}

.caja-iconos-redes {
    display: flex;
}

.caja-logos-pasarelas-pago {
    display: flex;
}

.caja-logos-pasarelas-pago img {
    height: fit-content;
    margin: 0 15px 0 0;
}

@media (max-width: 992px) {
    .grilla-categorias {
        grid-template-columns: repeat(5, 1fr);
        padding: 50px 70px;
    }
    .seccion-promos-especiales {
        grid-template-areas: 'promoGrande promoGrande' 'promoPeque1 promoPeque3' 'promoPeque2 promoPeque4' !important;
        padding: 0 50px 50px;
    }
}

@media (max-width: 768px) {
    .grilla-categorias {
        grid-template-columns: repeat(4, 1fr);
        padding: 50px 70px;
    }
    .seccion-promos-especiales {
        grid-template-areas: 'promoGrande promoGrande' 'promoPeque1 promoPeque3' 'promoPeque2 promoPeque4' !important;
        padding: 0 50px 50px;
    }
}

@media (min-width: 992px) and (max-width: 1500px) {
    .seccion-promos-especiales {
        grid-template-areas: 'promoPeque1 promoPeque3' 'promoPeque2 promoPeque4' !important;
        padding: 0 50px 50px;
    }
    .item5 {
        display: none;
    }
}