.banner-pagina {
    background-image: url('/assets/img/fondo-banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner-pagina h1 {
    font-family: 'genty';
}

.imgLogo {
    width: 6%;
}
